<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039829394290-tvsjf7rb5fa6qvmh5copu2jhia5vbno5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039829394290-tvsjf7rb5fa6qvmh5copu2jhia5vbno5</string>
	<key>API_KEY</key>
	<string>AIzaSyBgKTWVMS7uZ0fD1SG2Q5znJo1JUSiQXWY</string>
	<key>GCM_SENDER_ID</key>
	<string>1039829394290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.awn</string>
	<key>PROJECT_ID</key>
	<string>awn-swe-444-c20ee</string>
	<key>STORAGE_BUCKET</key>
	<string>awn-swe-444-c20ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039829394290:ios:625f507503c07a0ed833eb</string>
</dict>
</plist>